<div
  class="toolbar w-full px-gutter"
  fxLayout="row"
  fxLayoutAlign="start center"
  vexContainer
  #megaMenuOriginRef
>
  <button
    (click)="openSidenav()"
    [fxHide]="!mobileQuery"
    mat-icon-button
    type="button"
  >
    <mat-icon [icIcon]="icMenu"></mat-icon>
  </button>

  <a
    *ngIf="isVerticalLayout$ | async"
    [routerLink]="['/']"
    class="ltr:mr-4 rtl:ml-4 block"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <img class="w-8 select-none" src="assets/img/PERMA_Logo.png" />
    <h1 [fxHide]="mobileQuery" class="title ltr:pl-4 rtl:pr-4 m-0 select-none">
      PERMA
    </h1>
  </a>
  <ng-container *ngIf="loginDisplay">
    <ng-container
      *ngIf="this.appUtilityService.UserProfile$ | async as userProfile"
    >
      <ng-container *ngIf="userProfile.isAdmin == true">
        <button
          *ngIf="isHorizontalLayout$ | async"
          [fxHide]="mobileQuery"
          [matMenuTriggerFor]="addNewMenu"
          color="primary"
          mat-raised-button
          type="button"
        >
          ADD NEW
        </button></ng-container
      ></ng-container
    ></ng-container
  >

  <mat-menu
    #addNewMenu="matMenu"
    [overlapTrigger]="false"
    xPosition="after"
    yPosition="below"
  >
    <button mat-menu-item routerLink="/members/addMember">
      <mat-icon [icIcon]="icDomain"></mat-icon>
      <span>Add Member</span>
    </button>
  </mat-menu>

  <div class="ltr:ml-2 rtl:mr-2" style="display: none">
    <button
      *ngIf="isHorizontalLayout$ | async"
      [fxHide]="mobileQuery"
      color="primary"
      mat-button
      type="button"
    >
      MEGA MENU
      <ic-icon
        [icon]="icArrowDropDown"
        class="ltr:-mr-1 rtl:-ml-1"
        inline="true"
      ></ic-icon>
    </button>
  </div>

  <div
    *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async"
    [fxHide]="mobileQuery"
    class="px-gutter"
    fxFlex="none"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <vex-navigation-item
      *ngFor="let item of navigationItems"
      [item]="item"
    ></vex-navigation-item>
  </div>

  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>
  </div>
</div>

<vex-navigation
  *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async"
  [fxHide]="mobileQuery"
></vex-navigation>
