<div *ngIf="this.TableData$ | async as tableData">
  <table
    class="table-fixed text-sm text-left text-gray-500 dark:text-gray-400 striped w-full"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th
          *ngFor="let col of tableData.columns"
          scope="col"
          class="py-4 px-6 font-extrabold"
        >
          {{ col.label }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <ng-container *ngFor="let col of tableData.columns">
          <ng-container
            *ngIf="col.elementId == 0; then labelColumn; else elseBlock"
          >
          </ng-container>
          <ng-template #labelColumn>
            <th
              scope="row"
              class="pl-2 font-medium dark:text-white"
              style="min-width: 200px; vertical-align: top"
            >
              {{ getElement(row.elements, col.elementId)?.longText }}
            </th>
          </ng-template>
          <ng-template #elseBlock>
            <td class="pl-3" style="min-width: 200px; vertical-align: top">
              <view-element
                [ApplicationElement]="getElement(row.elements, col.elementId)"
                [ApplicationId]="this.ApplicationId"
                [SectionId]="this.ApplicationElement.tableSectionId!"
                [formGroup]="this.form"
                [RowId]="row.rowId"
                [showLabel]="false"
                (Changed)="handleRowChange($event)"
                *ngIf="getElement(row.elements, col.elementId)"
              ></view-element>
            </td>
          </ng-template>
        </ng-container>
      </tr>
    </tbody>
    <tfoot>
      <ng-container *ngFor="let col of tableData.columns">
        <ng-container
          *ngIf="
            col.elementId == 0 || col.showFooter == 0;
            then emptyColumn;
            else columnFooter
          "
        >
        </ng-container>
        <ng-template #emptyColumn>
          <th
            scope="row"
            class="pl-2 font-medium dark:text-white"
            style="min-width: 200px; vertical-align: top"
          >
            &nbsp;
          </th>
        </ng-template>
        <ng-template #columnFooter>
          <td
            class="pl-3"
            style="min-width: 200px; vertical-align: top"
            [ngClass]="{ isCurrencyFooter: isCurrency(col.elementType) }"
          >
            {{ col.footerValue }}
          </td>
        </ng-template>
      </ng-container>
    </tfoot>
  </table>
</div>
<div *ngIf="this.ApplicationElement.allowNewRows" class="mb-4">
  <button
    (click)="AddRow()"
    class="bg-contrast-white text-contrast-black"
    mat-raised-button
    type="button"
  >
    Add Row
  </button>
</div>
