<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/84d61792-af85-4c52-a11b-b26a8064b7ec/resourceGroups/permaAPI_group/providers/Microsoft.Web/sites/permaAPI</ResourceId>
    <ResourceGroup>permaAPI_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://permaapi.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://permaapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$permaAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>